.shipment-card {
  display: flex;
  height: 225px;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  background-color: var(--color-off-black);
  border-radius: 12px;

  & > .loading-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.6);

    & > .lds-ellipsis {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  --spacing: 24px;
  width: calc(50% - var(--spacing));
  margin: calc(var(--spacing) / 2);

  & > img.thumbnail {
    width: 195px;
    object-fit: contain;
  }

  & > .info {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    color: var(--color-beige);
    justify-content: space-between;
    font-size: clamp(0.75rem, 0.75vw, 1rem);
    line-break: loose;
    flex-grow: 1;

    & > .title {
      color: white;
      font-size: clamp(1rem, 1.1vw, 1.5rem);
    }

    & em {
      color: var(--color-light-blue);
    }

    & h1, & p {
      margin: 0;
    }
  }

  & > .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    width: 56px;
    border-left: 1px solid var(--color-accent);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--color-accent);
    }

    & > button {
      background: none;
      outline: none;
      border: none;
      width: 100%;
      min-width: 40px;
      height: 40px;
      cursor: pointer;
      
      & > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
